NODE_ENV=production
PORT=8000
JWT_EXPIRES_IN=24h

DB_HOST=postgres
DB_PORT=5432
DB_SSL=false
DB_NAME=trac_db
DB_USERNAME=trac_app
DB_PASSWORD=

JWT_SECRET=
SESSION_SECRET=
COOKIE_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=https://portal.tracerzurum.org.tr/api/auth/google/callback

R2_ACCOUNT_ID=
R2_BUCKET_NAME=trac-portal
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=

GITHUB_REPO_WEB_URL=github.com/TRAC-Erzurum/trac-portal
GITHUB_FEEDBACK_TOKEN=

TURNSTILE_SECRET_KEY=
